*{
  background-color: black;
  color: white;
}

h2{
  display: flex;
  justify-content: center;
  align-items: center;
}
input{
  border-radius: 15px;
  border-color: gray;
  height: 30px;
  width: 40vw;
  color: white;

}
.homePage_searchInput{
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_group{
  display: flex;
  align-items: center;
}

.searchButton{
  border-color: grey;
  border-radius: 5px;
  
}
.Home_header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.HomePage_coin_container{
  display: flex;
  justify-content: center;
  align-items: center;
}





.tableHeading{
  background-color: gold;
  border-color: gold;
  color: black;
  
}

.coinInfo{
  display: flex;
  
  align-items: center;
  margin-bottom: 15px;
  
}

.name{
  opacity: 0.5;
  font-size: 10px;
}

.coinImg{
  margin-right: 15px;
}

.HomePage_intro{

font-family: 'Poppins', sans-serif;
}
